body {
    font-family: Arial, sans-serif;
    background-color: #dddde4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #8cb2e4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007BFF;
}

.button-container {
    display: flex;
    justify-content: center; /* Center the buttons */
    gap: 10px;
    margin-top: 20px;
}


input[type="submit"], input[type="button"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
    overflow: hidden;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:active, input[type="button"]:active {
    transform: scale(0.98);
}

input[type="submit"]::before, input[type="button"]::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff00ff);
    background-size: 400%;
    z-index: -1;
    transition: 0.5s;
}

input[type="submit"]::before {
    animation: glowing 2s linear infinite;
}

input[type="submit"]:hover::before, input[type="button"]:hover::before {
    filter: blur(2px);
}

.result {
    font-weight: bold;
    color: #0e5208;
    margin-top: 20px;
    text-align: left;
}

.result-container {
    margin-top: 20px; /* Space between buttons and result */
}

.result-image {
    width: 100px;
    height: auto;
    margin-top: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
