<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Iris Class</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form action='/predict' method="POST" id="predictForm">
        <h2>Predict Iris Class</h2>
        <label for="sepal_length">Sepal Length:</label>
        <input type='text' id="sepal_length" name='sepal_length' value="{{ request.form.sepal_length if request.form.sepal_length else '' }}"><br>
        <label for="sepal_width">Sepal Width:</label>
        <input type='text' id="sepal_width" name='sepal_width' value="{{ request.form.sepal_width if request.form.sepal_width else '' }}"><br>
        <label for="petal_length">Petal Length:</label>
        <input type='text' id="petal_length" name='petal_length' value="{{ request.form.petal_length if request.form.petal_length else '' }}"><br>
        <label for="petal_width">Petal Width:</label>
        <input type='text' id="petal_width" name='petal_width' value="{{ request.form.petal_width if request.form.petal_width else '' }}"><br>
        
        <div class="button-container">
            <input type='submit' value='Predict'>
            <input type='button' value='Reset' onclick="window.location.href='/'">
        </div>
        
        <div class="result-container">
            <div class="result">Predicted Output: {{ result }}</div>
            
            {% if result == 'Iris-setosa' %}
                <img src="{{ url_for('static', filename='setosa.jpg') }}" alt="Iris Setosa" class="result-image">
            {% elif result == 'Iris-versicolor' %}
                <img src="{{ url_for('static', filename='versicolor.jpg') }}" alt="Iris Versicolor" class="result-image">
            {% elif result == 'Iris-virginica' %}
                <img src="{{ url_for('static', filename='verginca.jpg') }}" alt="Iris Virginica" class="result-image">
            {% endif %}
        </div>
    </form>
    <script>
        document.getElementById("predictForm").addEventListener("submit", function(event) {
            let sepalLength = document.getElementById("sepal_length").value;
            let sepalWidth = document.getElementById("sepal_width").value;
            let petalLength = document.getElementById("petal_length").value;
            let petalWidth = document.getElementById("petal_width").value;

            if (!sepalLength || !sepalWidth || !petalLength || !petalWidth) {
                event.preventDefault();
                alert("Please fill in all fields.");
            }
        });
    </script>
</body>
</html>
